## Python Day1 Assignment:

### 1.Write a Python program to get the smallest and largest number from a list of integers.

In [1]:
a = [3,4,5,612,435,22,55,67,23,213]

#### Using inbuilt functions

In [2]:
x=sorted(a)
print(x[0])
print(x[-1])

3
612

In [3]:
min(a)

3

min() returns the first value in the sorted() , so it is similar to above x[0].

In [4]:
max(a)

612

max() returns the last value in the sorted() , so it is similar to above x[-1].

#### User defined function
IF the list is large , this function berforms better as its time complexity is O(n) where as the time complexity of sorted() built in function is O(n.log n)

In [5]:
def min_max(x):
    minimum = maximum = x[0]
    for ele in x[1:]:
        if ele < minimum : 
            minimum = ele
        else:
            if ele > maximum:
                maximum = ele
    return(minimum , maximum)

In [6]:
min_max(a)

(3, 612)

### 2.Write a Python program to get the following pattern using a nested loop.
1

22

333

4444

55555

666666

7777777

88888888

999999999

In [7]:
for i in range(1,10):
    for j in range(i):
        print(i , end = '')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

### 3.You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.Example: Pythonist 2 â†’ pYTHONIST 2

In [8]:
word= 'Pythonist 2'

In [9]:
print(word.swapcase())

pYTHONIST 2

### 4.Given a sentence use string split and join to get the result as shown below:
#### Sample Input: this is a string   
#### Sample Output: this-is-a-string

##### If the sample input is a string

In [10]:
sample_input = "this is a string"

In [11]:
sample_input.replace(' ','-')

'this-is-a-string'

##### if the sample input is a list

In [12]:
sample_input = ["this",'is','a','string']

In [13]:
'-'.join(sample_input)

'this-is-a-string'

###  5.Write a Python program to find the difference between consecutive numbers in a given list.
### Original list: [4, 5, 8, 9, 6, 10]
### Difference between consecutive numbers of the said list: [1, 3, 1, -3, 4]

In [14]:
original_list = [4, 5, 8, 9, 6, 10]

In [15]:
difference_list=[]
for i,item in enumerate(original_list):
    try:
        difference_list.append(original_list[i+1]-original_list[i])
    except:
        break
print(difference_list)

[1, 3, 1, -3, 4]

### 6. Write a Python program to get the frequency of the elements in a given list of lists.Original list of lists: [[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]]. Frequency of the elements in the said list of lists:{1: 1, 2: 3, 3: 1, 4: 1, 5: 2, 6: 1, 7: 1, 8: 1, 9: 1}

In [16]:
original_list =  [[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]]

In [17]:
frequency={}
for item in original_list:
    for ele in item:
        if ele in frequency:
            frequency[ele] +=1
        else:
            frequency[ele]=1

In [18]:
frequency

{1: 1, 2: 3, 3: 1, 4: 1, 5: 2, 6: 1, 7: 1, 8: 1, 9: 1}

### 7.Write a Python program to combine two lists into a dictionary, where the elements of the first one serve as the keys and the elements of the second

In [19]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

In [20]:
dict(zip(list_1,list_2))

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

### 8.Write a Python program to find the key of the maximum value in a dictionary.
Sample Output:
Original dictionary elements
{'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}
the maximum and minimum value of the said dictionary: 
('Roxanne', 'Theodore')

In [21]:
original_dict_ele = {'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}

In [22]:
(max(original_dict_ele, key=original_dict_ele.get),min(original_dict_ele, key=original_dict_ele.get))

('Roxanne', 'Theodore')

### 9.Write a Python program to construct the following pattern, using a nested for loop

In [23]:
for i in range(1):
    for j in range(1,10):
        if j<=5:
            print('*'*j)
        else:
            print('*'*(10-j))

*
**
***
****
*****
****
***
**
*

### 10. Write a Python program that prints all the numbers from 0 to 20 except the numbers in the given list [ 5, 6, 12, 15].Note : use the â€˜continue' statement.

In [24]:
exclude = [ 5, 6, 12, 15]

In [25]:
for item in range(21):
    if item in exclude:
        continue
    print(item,end=',')

0,1,2,3,4,7,8,9,10,11,13,14,16,17,18,19,20,

### 11 . Write a Program to count the number of vowels in a given string.Example:Input_string = â€˜Hello Worldâ€™Count_output = 3

In [26]:
input_string = 'Hello World'

In [27]:
vowels=['a','e','i','o','u']
count_output=0
for item in list(input_string):
    if item in vowels:
        count_output+=1
print(count_output)

3

### 12.Write a Python program to remove consecutive duplicates from a list.Original list:initial_input = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4] . After removing consecutive duplicates:final_output = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [28]:
initial_input = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
final_output = []
for i,item in enumerate(initial_input):
    try:
        if item == initial_input[i+1]:
            continue
        final_output.append(item)
    except:
        final_output.append(item)
print(final_output)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

### 13.Write a Program to read a sample text file and count the words having length greater than or equal to 5.

In [29]:
word_count = 0
with open('sample.txt','r') as sample_file:
    for line in sample_file:
        print(line)
        words = line.split()
        for item in words:
            #removing periods from the word
            item=item.replace('.','')
            if len(item)>=5:
                word_count +=1


print('\n')
print(f"The number of words having length greater than or equal to 5 is:  {word_count}")

hello world! my name is Sandesh Timalsina. I am doing great.

How about you?


The number of words having length greater than or equal to 5 is:  7

### 14. Write a program to read a sample text file and Capitalize the each word and append it to the same file.

In [30]:
with open('sample.txt','r+') as sample_file:
    string=sample_file.read()
    print(string)
    #capitalizing each word
    string = string.title()
    
    sample_file.write(string)

hello world! my name is Sandesh Timalsina. I am doing great.
How about you?

In [31]:
with open('sample.txt','r+') as sample_file:
    print(sample_file.read())

hello world! my name is Sandesh Timalsina. I am doing great.
How about you?Hello World! My Name Is Sandesh Timalsina. I Am Doing Great.
How About You?

### 15.Write a function in Python that takes a normal .txt file path as an input and counts the word in a given list [ the, these, that, and]  and displays it.

In [32]:
word_to_count = [ 'the', 'these', 'that', 'and']

In [33]:
count=0
with open('normal.txt','r') as normal_text:
    for line in normal_text:
        print(line)
        for item in line.split():
            if item in word_to_count:
                count+=1
print('\n')
print(f"The total count of list [ the, these, that, and] in the text file is : {count} ")

Once Upon a Time in Hollywood, also known as Quentin Tarantino's love letter to 1960s Los Angeles, is going into the 2020 Oscars as one of the most nominated films, racking up 10 mentions from the Film Academy.



The film is one of the nine movies up for the the top prize of the night, best picture, and also received nods for best actor (Leonardo DiCaprio), supporting actor (Brad Pitt), director, original screenplay, cinematography, sound mixing, costume design, production design and sound editing.



Once Upon a Time follows actor Rick Dalton (DiCaprio) and his stuntman Cliff Booth (Pitt), nearing the end of their careers, struggling to find meaningful work in a fast-changing 1969 Hollywood. Rick gained fame and fortune by starring in a 1950s TV Western called Bounty Law, which he left behind to try to pursue a film career, only to find he doesn't recognize the industry around him anymore. His struggles become even more prominent when director Roman Polanski (played by Rafal Zawierucha) and his new wife, up-and-coming actress Sharon Tate (Margot Robbie), move in next door to him at the end of Cielo Drive.



From an inside look at how Tarantino is on set to the fate of Rick's career after the film and a look at the main character's mental health, here are 10 behind the scenes facts about the pic, including some spoilers.


The total count of list [ the, these, that, and] in the text file is : 21

### 16.Map, Filter, Reduce Question:  Given a list of strings fruits as shown below:fruits = ["Apple", "Banana", "Pear", "Apricot", "Orange"]. 
### a.Change each of the words to uppercase using map function
### b.Filter out the words starting with â€˜Aâ€™ using filter functionality
### c.Concat all words using reduce

In [34]:
fruits = ["Apple", "Banana", "Pear", "Apricot", "Orange"]

In [35]:
list(map(str.upper , fruits))

['APPLE', 'BANANA', 'PEAR', 'APRICOT', 'ORANGE']

In [36]:
list(filter(lambda x: list(x)[0]=='A',fruits))

['Apple', 'Apricot']

In [37]:
from functools import reduce
reduce(lambda x,y: x+y , fruits)

'AppleBananaPearApricotOrange'