# Assignment for the Weekend:

## Python Assignment Part 1

### 1. Question 1: General questions:

#### a. Using Map with lambda function generates a third list with a single map statement that sums the integer elements of the same index of two given lists.


lst1=[100, 200, 300, 400, 500]

lst2=[1,10,100,1000,10000]

Should return with a single statement :  [101, 210, 400, 1400, 10500]

In [1]:
lst1=[100, 200, 300, 400, 500]
lst2=[1,10,100,1000,10000]

In [2]:
result = map(lambda x,y:x+y , lst1,lst2)

In [3]:
print(list(result))

[101, 210, 400, 1400, 10500]

#### b.Write a function that takes a string and returns the dictionary with each character as key and its count as value.
For example: 
    
result  = myfunc ("aaaaabbbbcccdde")

Should return 

{ ’a’ : 5, ’b’ : 4, ’c’ : 3, ’d’ : 2, ’e’ : 1 }

In [4]:
def myfunc(a):
    dictionary = {}
    for item in a:
        if item in dictionary:
            dictionary[item] +=1
        else:
            dictionary[item] = 1
    return dictionary

In [5]:
result  = myfunc ("aaaaabbbbcccdde")

In [6]:
result

{'a': 5, 'b': 4, 'c': 3, 'd': 2, 'e': 1}

#### c.The dictionary  given below consists of vehicles and their weights in kilograms. Construct a list of the names of vehicles with weight below 5000 kilograms. In the same list comprehension makes the key names all uppercase. Use just a single comprehension statement to achieve it.

dict={
"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110
}

Solution should be just a statement with list comprehension like below 

List = [ use comprehension to achieve the result in single statement ]

In [7]:
dict={ "Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110 }

In [8]:
List = [keys.upper() for keys,values in dict.items() if values < 5000]

In [9]:
List

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

## 2.Question 2 Create a program to create a following form inputs as CLI inputs

In [10]:
def inputName():
    name =  input(f"Enter the {key}")
    if validateName(name):
        return name
    else:
        print("Invalid name type, plz input again")
        inputName()
def validateName(name):
    print(type(name))
    if type(name)== str:
        return True
    else:
        return False

In [11]:
from datetime import datetime

runprogram=True
all_data=[]
while True:
    keyList = ['Name','DOB','Age','Hobbies']
    data={}
    for key in keyList:
        if key == 'Name':
            value=inputName()
            data[key]=value
                
            
        if key == 'DOB':
            while(True):
                value = input(f"Enter the {key} in format 'mm/dd/yyyy'")
                format = "%m/%d/%Y"
                try:
                    value=datetime.strptime(value,format)
                    break
                except:
                    print("This is the incorrect date string format. It should be mm/dd/yyyy ")
            data[key]=value
            
        if key == 'Age':
            while(True):
                try:
                    value=int(input(f"Enter the {key} "))
                    break
                except:
                    print("Invalid age")
                
            data[key]=value
        if key == 'Hobbies':
            value =input(f"enter your {key} with comma sperated")
            data[key]=value.split(',')
    all_data.append(data)
    
    
    y=input("Enter 'y' to add another users else other keys to end loop")
    if y != 'y':
        break

Enter the Namesandesh
<class 'str'>
Enter the DOB in format 'mm/dd/yyyy'2020/11/333
This is the incorrect date string format. It should be mm/dd/yyyy
Enter the DOB in format 'mm/dd/yyyy'11/2
This is the incorrect date string format. It should be mm/dd/yyyy
Enter the DOB in format 'mm/dd/yyyy'11/25/2020
Enter the Age sdasd
Invalid age
Enter the Age 12
enter your Hobbies with comma speratedbasketball,football,volleyball
Enter 'y' to add another users else other keys to end loopy
Enter the Namehari
<class 'str'>
Enter the DOB in format 'mm/dd/yyyy'12/11/1990
Enter the Age 10
enter your Hobbies with comma sperateda,b,v,c
Enter 'y' to add another users else other keys to end loopy
Enter the Names
<class 'str'>
Enter the DOB in format 'mm/dd/yyyy'11/1
This is the incorrect date string format. It should be mm/dd/yyyy
Enter the DOB in format 'mm/dd/yyyy'11/1/2020
Enter the Age 5
enter your Hobbies with comma speratedsb,v,b
Enter 'y' to add another users else other keys to end loopn

In [13]:
with open('myfile.txt',"w") as obj:
    #for item in all_data:
    obj.write(str(all_data))

## 3.Question 3:

In [14]:
open_list = ["[","{","("]
close_list = ["]","}",")"]
  
# Function to check parentheses
def isBalanced(string):
    stack = []
    for i in string:
        if i in open_list:
            stack.append(i)
        elif i in close_list:
            pos = close_list.index(i)
            if ((len(stack) > 0) and
                (open_list[pos] == stack[len(stack)-1])):
                stack.pop()
            else:
                return "NO"
    if len(stack) == 0:
        return "YES"
    else:
        return "NO"


x=True
while x:
    string = input("Enter the string to check the parenthesis is balanced or not")
    print('\n')
    print(isBalanced(string))
    x=input("enter 'y' to continue else other keys to end the program")
    print(x)
    if str(x) == 'y':
        x=True
    else:
        x=False

Enter the string to check the parenthesis is balanced or not{[(])}


NO
enter 'y' to continue else other keys to end the programy
y
Enter the string to check the parenthesis is balanced or not{[(])}


NO
enter 'y' to continue else other keys to end the programy
y
Enter the string to check the parenthesis is balanced or not{}(]{


NO
enter 'y' to continue else other keys to end the programy
y
Enter the string to check the parenthesis is balanced or not{}[]()[(())]


YES
enter 'y' to continue else other keys to end the programn
n

## 4.Question 4 Question 4  :A left rotation operation on an integer array shifts each of the array's elements unit to the left. For example,  if 2 left rotations are performed on array [1,2,3,4,5] , then the array would become [3,4,5,1,2]

Note that the lowest index item moves to the highest index in a rotation. This is called a circular array.
Given an array of integers and a number designating the number of rotations, , perform left rotations on the array. Return the updated array to be printed as a single line of space-separated integers


Program Description
Write a Program i.e. a python script  with the function named rotateLeft in the
rotateLeft has the following parameter(s):
array_list  a list  of integers to rotate
num_rotate the number of rotations to be made
Receive these parameters from the command line as input from the user.
Returns
the rotated array  and  the number of left rotations.

In [15]:
def rotateLeft(array_list,num_rotate):
    new_list=[]
    length=len(array_list)
    for i in range(length):
        
        new_list.append(array_list[num_rotate])
        if len(new_list)==len(array_list):
            return new_list
        num_rotate+=1
        
        if num_rotate == len(array_list):
            num_rotate=0

In [18]:
# creating an empty list
array_list = []
 
# number of elements as input
n = int(input("Enter number of elements : "))
 
# iterating till the range
for i in range(0, n):
    ele = int(input())
 
    array_list.append(ele) # adding the element
     
num_rotate = int(input("Enter the number of rotations to be made"))
rotateLeft(array_list,num_rotate)

Enter number of elements : 5
1
2
3
4
5
Enter the number of rotations to be made4

[5, 1, 2, 3, 4]

## Python Assignment Part 2

### 1.Create generator with and without comprehension for getting multiples of given number upto 10.
Eg. generator(5) =>> 5, 10, 15 …. 50

#### without comprehension

In [19]:
def generator(max):
    i=1
    while(True):
        yield i*5
        i+=1
        if(i>10):
            return
for i in generator(5):
    print(i , end=',')

5,10,15,20,25,30,35,40,45,50,

#### Using generator with list comprehension

In [20]:
[i*5 for i in range(1,11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

## 2.Create a scenario where following errors are handled:
a.Custom Error implemented using class

b.Custom Error using Exception or BaseException class using message to handle at least two of the cases.

c.Full fledged case for exception handling using try, except, else, finally

### a.

In [21]:

# Defining a user-definer python exception 
class Error(Exception):
    """Base class for other exceptions"""
    pass


class ValueTooSmallError(Error):
    """Raised when the input value is too small"""
    pass


class ValueTooLargeError(Error):
    """Raised when the input value is too large"""
    pass


# The number we need to guess
num = 5

# user guesses a number until they gets it right
while True:
    try:
        i_num = int(input("Enter a number: "))
        if i_num < num:
            raise ValueTooSmallError
        elif i_num > num:
            raise ValueTooLargeError
        break
    except ValueTooSmallError:
        print("This value is too small, try again!")
        print()
    except ValueTooLargeError:
        print("This value is too large, try again!")
        print()

print("Congratulations! You guessed it correctly.")

Enter a number: 7
This value is too large, try again!

Enter a number: 5
Congratulations! You guessed it correctly.

### b)

In [22]:
class DemoException(Exception):
    def __init__(self, message):
        super().__init__(message)

class ZeroDivExp(Exception):
    def __init__(self,message,value):
        message = f'{value} is zero, please dont divide a number with zero'
        super().__init__(message)
        
        
class NumberFormatException(Exception):
    def __init__(self, message, value):
        message = f'{value} is not a number'
        super().__init__(message)



message = "Exception occured."

def triggerException_1(num):
    if (not num.isdigit()):
        raise NumberFormatException(message, num)
        pass
    elif (num == 0):
        raise DemoException(message)
    else:
        print(num)


def triggerException_2(num):
    if num == 0 :
        raise ZeroDivExp(message , num)
    pass

In [23]:
num = 'hello world'
try:
    triggerException_1(num)
    print("Code executed sucessfully.")
except DemoException:
    print("Error: Number should not be 0.")
except NumberFormatException:
    print(num+" is not a number.")

hello world is not a number.

In [24]:
num1=10
num2=0
try:
    triggerException_2(num2)
    print("Code executed sucessfully.")
except ZeroDivExp:
    print("Error: number 2 should not be 0.")

Error: number 2 should not be 0.

### c)

In [25]:

def division(a,b):
    try:
        res = a/b
    except ZeroDivisionError as e:
        print(str(e)+" error")
    else:
        print(f"Division ran sucessfully, ANS:{res}")
    finally:
        print('Thank you')

division(2,0)
print('')
division(2,10)

division by zero error
Thank you

Division ran sucessfully, ANS:0.2
Thank you

## 3. Create at least 4 classes having semantic meaning (having relation to each other) so that multiple inheritance can be achieved and incorporating the following things in some of them:
a)@classmethod

b)@staticmethod

c)@property and setter for it

d)Class_variable

In [26]:
from datetime import datetime

In [27]:
class Machine:
    '''Includes all kind of Machine'''
    def __init__(self,types):
        self.types=types

class Vehicles(Machine):
    '''Includes only Vehicles Machine'''
    def __init__(self,types,cc,engine,manufacture_date):
        self.types=types
        self.cc=cc
        self.engine=engine
        self.manufacture_date=manufacture_date
    
    @property
    def description(self):
        return "It is of type "+ str(self.types) +".It has an "+str(self.engine)+"engine of"+str(self.cc)+"cc."
    
    @description.setter
    def description(self, description):
        self.types,self.cc,self.engine = description.split(',')
    
    @staticmethod
    def isExpensive(price):
        if price>10000000:
            return True
        else:
            return False
    
    @classmethod 
    def fromAge(self, types,cc,engine,age):
        return self(types,cc,engine,int(datetime.now().year)-int(age))
    
class Car(Vehicles):
    '''Includes only Car'''
    wheels = 4
    def __init__(self,airbags,types,cc,engine,manufacture_date):
        super().__init__(types,cc,engine,manufacture_date)
        self.airbags =airbags
    
    @property
    def description(self):
        return "It is of type "+ str(self.types) +".It has an "+str(self.engine)+"engine of"+str(self.cc)+"cc.The number of airbags are "+str(self.airbags)
          
    
class MoterBike(Vehicles):
    '''Includes only Bike'''
    wheels = 2
    def __init__(self , rear_brake,types,cc,engine,manufacture_date):
        super().__init__(types,cc,engine,manufacture_date)
        self.rear_brake = rear_brake
    
    @property
    def description(self):
        return "It is of type "+ str(self.types) +".It has an "+str(self.engine)+"engine of"+str(self.cc)+"cc.The rear-brake type is  "+str(self.rear_brake)

In [28]:
Machine('vehicle')

In [29]:
m = MoterBike('Disk','sports',5000,'v10',2018)

Using @staticmethod (below)

In [30]:
m.isExpensive(10000)

False

Using class variables(below)

In [31]:
m.wheels

2

In [32]:
MoterBike.wheels

2

Using @classmethod as factory (below)

In [33]:
v=Vehicles.fromAge('sports',1500 , 'v8',15)

In [34]:
v.manufacture_date

2006

Using @property (below )

In [35]:
m.description

'It is of type sports.It has an v10engine of5000cc.The rear-brake type is  Disk'

## 4.Create a class for complex number implementing all the arithmetic operations and relational operations related dunder methods. 

Eg.__add__ , __iadd__ , __mult__ ,  __eq__ , __lt__

In [36]:

class Complex(object):
    def __init__(self, real , imag):
        self.real = real
        self.imag = imag
        
    def __str__(self):
        '''Returns the complex number as string '''
        #print('hello')
        return '(%s, %s)' % (self.real, self.imag)
    
    def __add__(self,other):
        '''Adds the complex number'''
        return Complex(self.real + other.real , self.imag +other.imag)
    
    def __sub__(self,other):
        '''Subtracts the complex number'''
        return Complex(self.real-other.real ,self.imag-other.imag)
    
    def __mul__(self,other):
        '''Multiplies the complex number '''
        return Complex(self.real * other.real , self.imag*other.imag)
    
    def __eq__(self, other):
        return self.real == other.real and self.imag == other.imag

In [37]:
a=Complex(3,5j)

In [38]:
b= Complex(1,5j)

In [39]:
print(a+b)

(4, 10j)

In [40]:
print(a-b)

(2, 0j)

In [41]:
print(a*b)

(3, (-25+0j))

In [42]:
print(a == b)

False

In [43]:

import numpy as np

class CustomComplex(complex):
    def __lt__(self, other):
        return np.abs(self) < np.abs(other)
    def __le__(self, other):
        return np.abs(self) <= np.abs(other)
    def __eq__(self, other):
        return np.abs(self) == np.abs(other)
    def __ne__(self, other):
        return np.abs(self) != np.abs(other)
    def __gt__(self, other):
        return np.abs(self) > np.abs(other)
    def __ge__(self, other):
        return np.abs(self) >= np.abs(other)

In [44]:
a=CustomComplex(3,5j)

In [45]:
b=CustomComplex(1,4j)

In [46]:
a<b

True

In [47]:
a>b

False

In [48]:
a==b

False

### 5.Create a Class representing the clone behavior of lists in python.

a.  Eg. List(“1234”) works same as list(“1234”)

b.  Adding 2 lists, multiple ways of instantiating using @classmethod.

### a)

In [49]:
list('12345')

['1', '2', '3', '4', '5']

In [50]:
class List:
    def __init__(self,string):
        self.string=string
    @property
    def getList(self):
        return list(self.string)

In [51]:
List("12345").getList

['1', '2', '3', '4', '5']

In [52]:
List("12345").getList == list('12345')

True

### b)

In [53]:
class AddList:
    def __init__(self,list1,list2):
        self.list1=list1
        self.list2=list2
        
    @classmethod
    def fromString(self , str1,str2):
        str1=list(str1)
        str2=list(str2)
        str1=[int(str1[i]) for i in range(len(str1))]
        str2=[int(str2[i]) for i in range(len(str2))]
        
        return self(str1,str2)
        
    
    @property
    def add_list(self):
        result = [self.list1[i]+self.list2[i] for i in range(len(self.list1))]
        return result

In [54]:
AddList([1,2,3],[1,2,3]).add_list

[2, 4, 6]

In [55]:
AddList.fromString("123","123").add_list

[2, 4, 6]

### 6.Replicate the behaviour of range() object using :

a. Iterator class, __iter__ and __next__

b. Generator

c. Generator comprehension

#### range() is a built-in generator

In [56]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

### a.

In [57]:
class iterator_custom:
    def __init__(self, max=0):
        self.max = max

    def __iter__(self):
        self.n = 0
        return self

    def __next__(self):
        if self.n < self.max:
            results=self.n
            self.n+=1
            return results
        else:
            raise StopIteration

In [58]:
for item in iterator_custom(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

### b

In [59]:
def generator(max):
    i=0
    while True:
        yield i
        i+=1
        if i >=10:
            return
list(generator(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### c.

In [60]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Python Assignment Part 3

In [66]:
def connect():
    connection = psycopg2.connect(user="postgres",
                                  password="admin",
                                  host="localhost",
                                  port="5432",
                                  )
    connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
    return connection

In [67]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [68]:

try:
    connection = connect()
    query = "CREATE DATABASE first_weekend_python_assignments;"
    
    
    cursor = connection.cursor()
    
    # Executing a SQL query
    cursor.execute(query)
    print("Database sucessfully created")
except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if (connection):
        cursor.close()
        connection.close()
        print('')
        print("PostgreSQL connection is closed")

Database sucessfully created

PostgreSQL connection is closed

### Defining connect() method so we can we it laster through out our code

In [69]:
#Defining connect() method so we can we it laster through out our code to connect to the database
def connect():
    connection = psycopg2.connect(user="postgres",
                                  password="admin",
                                  host="localhost",
                                  port="5432",
                                  database="first_weekend_python_assignments")
    
    return connection

In [70]:
try:
    connection = connect()
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT version();")
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")
except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'first_weekend_python_assignments', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.8 (Ubuntu 12.8-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit',)

PostgreSQL connection is closed

### Creating tables user in the database weekend_python_assignment

In [87]:
import logging
try:
    connection = connect()
    
    cursor = connection.cursor()
    
    query_1 = '''
    CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name TEXT,
    dob DATE,
    profession TEXT
    )
    '''
    cursor.execute(query_1)
    
    query_2 = '''
    CREATE TABLE address(
    id SERIAL PRIMARY KEY,
    user_id INT,
    permanent_address TEXT,
    temporary_address TEXT,
    
    CONSTRAINT fk_address_users
    FOREIGN KEY(user_id) REFERENCES users(id),
    
    CONSTRAINT fk_address_users_unique 
    UNIQUE(user_id)
    )
    '''
    
    cursor.execute(query_2)
    
    connection.commit()
    
    
    
    print("Tables sucessfully created")
except (Exception,psycopg2.Error) as error:
    #print("Error while connecting to PostgresSQL: ",error)
    logging.debug("An exception was thrown!", exc_info=True)
    logging.info("An exception was thrown!", exc_info=True)
    logging.warning("An exception was thrown!", exc_info=True)
finally:
    if(connection):
        cursor.close()
        print('')
        print("PostgreSQL connection is closed")

Tables sucessfully created

PostgreSQL connection is closed

### Inserting dummy data in the tables using psycopg connection

In [88]:
data_user=[('sandesh','1997-4-1','data engineer'),('ram','1997-8-1','data scientist'),('john','1996-8-5','Clerk'),('hari','1998-4-1','Full stack'),('Gita','1997-7-5','Linux eng'),('Krishna','1999-1-1','Manager')]

In [89]:
data_user_address = [(1,"Nepal","usa"),(2,"ktm","jumla"),(3,"bkt","kalikot"),(4,"lalitpur","ithari"),(5,"bkt","ilam"),(6,"ktm","dharan")]

In [90]:
import logging
try:
    connection = connect()
    
    cursor = connection.cursor()
    
    for item in data_user:
        query='''
        INSERT INTO users(name,dob,profession)
        VALUES (%s,%s,%s)
        '''
    
        cursor.execute(query , item)
    
    connection.commit()
    
    
    print("Data sucessfully inserted inside user")
    
    for item in data_user_address:
        query='''
        INSERT INTO address(user_id,permanent_address,temporary_address)
        VALUES (%s,%s,%s)
        '''
    
        cursor.execute(query , item)
    
    connection.commit()
    print("Data sucessfully inserted inside address")
    
except (Exception,psycopg2.Error) as error:
    #print("Error while connecting to PostgresSQL: ",error)
    logging.debug("An exception was thrown!", exc_info=True)
    logging.info("An exception was thrown!", exc_info=True)
    logging.warning("An exception was thrown!", exc_info=True)
finally:
    if(connection):
        cursor.close()
        print('')
        print("PostgreSQL connection is closed")

Data sucessfully inserted inside user
Data sucessfully inserted inside address

PostgreSQL connection is closed

### Fetch data from the joined users and address table 
    -- given user_id
    
    -- given profession and permanent_address

In [91]:
import pandas as pd

In [92]:
conn =connect()
cur = conn.cursor()
query = '''

SELECT id AS "USER ID"
FROM users


'''
cur.execute(query)
col = [desc[0] for desc in cur.description]  

df=pd.DataFrame(columns=col,data=cur.fetchall())
df

   USER ID
0        1
1        2
2        3
3        4
4        5
5        6

In [93]:
query = '''

SELECT u.name AS "Name",u.profession
FROM users u
INNER JOIN address a
    ON u.id = a.user_id



'''
cur.execute(query)
col = [desc[0] for desc in cur.description]  

df=pd.DataFrame(columns=col,data=cur.fetchall())
df

      Name      profession
0  sandesh   data engineer
1      ram  data scientist
2     john           Clerk
3     hari      Full stack
4     Gita       Linux eng
5  Krishna         Manager

### Update table users and add column gender

In [94]:
query = '''

ALTER TABLE users
ADD gender CHAR(1)

'''
cur.execute(query)

print("sucessfully added the table gender")

sucessfully added the table gender

### Delete records from user whose age is less than 20 yrs

In [ ]:
conn =connect()
cursor = conn.cursor()
query = '''

DELETE EXTRACT(YEAR FROM age(cast(dob as date))) AS age
FROM users
WHERE age<20;

'''
cur.execute(query)